<section id="dashboard">
  <article id="dashboard-posts">
    <article id="newPost">
      <h5 class="hidden" id="newPostHeading">New Post</h5>
        <input type="text" name="title" id="newPostTitle" class="hidden" placeholder="Title">
        <textarea name="post" id="newPostBody" class="hidden" cols="30" rows="10" placeholder="Post Body"
          maxlength="5000"></textarea>
      <span id="newPostButtons">
        <button type="button" name="newPostClose" id="newPostCloseButton" class="hidden">Hide</button>
        <button type="submit" id="post_submit" data-userId={{id}} class="hidden" disabled>Submit</button>
      <button type="button" name="newPost" id="newPostButton">New Post</button>
      </span>
    </article>
    {{#each posts as |post|}}
    {{> blog-post}}
    {{/each}}
  </article>
</section>
<script src="js/dashboard.js"></script>